*,
*::before,
*::after {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;

}

:root {
    --darkbrown-clr: #6a6c4b;
    --lightbrown-clr: #fcffd1;
    --primary-clr: rgb(85, 96, 107);
    --secondary-clr: #8C8D83;
    --white-clr: #FFFFFF;
    --alpha: 0.8;
    --heading-font: 'Lora', sans serif;
    --body-font: 'Karla', serif;

}

body {
    margin: 0 auto;
    

}

img {
    max-width: 100%;

}

li {
    list-style-type: none;
    

}

a {
    text-decoration: none;

}
/* --------------------------NAVBAR SECTION START ------------------------------*/

#header {
    background: var(--white-clr);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo {
    font-family: var(--heading-font);
    font-size: 2.25rem;
    color: var(--primary-clr);
    margin: 0.45em;
}

.nav-toggle {
    display: none;

}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--primary-clr);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;

}

.nav-toggle-label span::after {
    top: 7px;

}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--white-clr);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul {
    margin: 0;
    padding: 0;


}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;

}

nav a {
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--primary-clr);
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

nav a:hover {
    color: var(--darkbrown-clr);

}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);

}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

@media only screen and (min-width: 70em) {
    .nav-toggle-label {
        display: none;

    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 8fr) 1fr;

    }

    .logo {
        grid-column: 2 / 3;

    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    nav ul {
        display: flex;
        
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;

    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: var(--darkbrown-clr);
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before {
        transform: scale(1, 1);

    }

}


/* --------------------------NAVBAR SECTION END ------------------------------*/

/* --------------------------LANDING SECTION START ------------------------------*/

.landing-container {
    height: 500px;
    background-image: url(../images/landing4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.landing-background {
    height: inherit;
    color: var(--white-clr);
    background-color: rgba(106, 108, 75, 0.85);
    

}


@media only screen and (min-width: 70em) {
    .landing-container {
        height: 80vh;

    }

}


@media only screen and (min-width: 100em) {
    .landing-container {
        height: 95vh;

    }

    .landing-background {
        height: inherit;
        width: 39.35vw;
        margin-right: auto;
        padding: 0;

    }

}

.landing-content {
    display: block;
    position: relative;
    width: 80%;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
    
}



.landing-content > h1 {  
    padding-top: 1em;
    font-family: var(--heading-font);   
    font-size: clamp(2.5rem, 5vw, 4rem); 
    text-transform: uppercase;  
    margin-top: 0;  
    margin-bottom: -1.5rem;

}

.landing-content > h2 {
    font-family: var(--body-font);
    font-size: clamp(1.4rem, 2.5vw, 2.25rem);
    font-weight: normal;
    padding-bottom: 0.5em;


}

.landing-content > p {
    font-family: var(--body-font);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: lighter;
    padding-bottom: 1.5em;
    
}

@media only screen and (min-width: 70em) {
    .landing-content p {
        width: 50ch;

    }

}



@media only screen and (min-width: 100em) {
    .landing-content {
        display: block;
        position: relative;
        top: 10rem;
        left: 9.5rem;

    }

    .landing-content > h1 {
        line-height: 3.5rem;

    }

    .landing-content > p {
        width: 35ch;

    }

}

.button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-clr);
    background-color: var(--primary-clr);
    border: none;
    margin: 0;
    height: 50px;
    transition: ease-in-out 0.3s;

}

.button a {
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    

}

.button:hover {
    color: var(--white-clr);
    background-color: lightslategrey;

}

/* --------------------------LANDING SECTION END ------------------------------*/

/* --------------------------SERVICES SECTION START ------------------------------*/
#services-container {
    height: 100%;
    
}

@media only screen and (min-width: 100em) {
    #services-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        
    }

}

.services-header-container {
    background-color: var(--lightbrown-clr);
    padding: 2em 0;
    
}

.services-header > h1{
    width: 80%;
    font-family: var(--heading-font);
    font-size: clamp(2.5rem, 5vw, 4rem); 
    text-transform: uppercase;
    color: var(--primary-clr);
    margin: 0 auto;

}

@media only screen and (min-width: 100em) {
    .services-header > h1 {
        width: 40%;
        padding-top: 2em;
    }

}

span {
    font-weight: lighter;

}

.services-list {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0 5em 0;
    align-items: center;
    
}

@media only screen and (min-width: 70em) {
    .services-list {
       grid-template-columns: repeat(2, 1fr); 
       gap: 4em;
       
    }

}

@media only screen and (min-width: 100em) {
    .services-list {
        width: 100%;
        padding-top: 9rem;
        padding-left: 7rem;
        padding-bottom: 10rem;
        padding-right: 13rem;
        
    }

}


.list-heading > h2 {
    font-family: var(--heading-font);
    font-size: clamp(1.35rem, 3vw, 1.85rem);
    color: var(--primary-clr);
    text-transform: uppercase;
    

}

.list-heading > p {
    font-family: var(--body-font);
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    font-weight: lighter;
    color: var(--secondary-clr);
    line-height: 1.75rem;
    margin: 0 auto;
}

.list-para {
    margin-bottom: 3em;

}


/* --------------------------SERVICES SECTION END ------------------------------*/

/* --------------------------VISION MISSION SECTION START ------------------------------*/

#vision-mission-container {
    height: 100%;
    width: 100%;
    background-image: url(../images/vision.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.vision-mission {
    width: 100%;
    height: 100%;
    background-color: rgba(85, 96, 107, 0.92);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.vision-mission > h1 {
    font-family: var(--heading-font);
    font-size: clamp(2.5rem, 5vw, 4rem);
    color: var(--white-clr);
    text-transform: uppercase;
    margin-bottom: 0.5rem;

}

.vision-mission > p {
    width: 80%;
    font-family: var(--body-font);
    color: lightgray;
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    line-height: 1.75rem;
    font-weight: lighter;
    padding-bottom: 2rem;
    margin: 0 auto;

}

@media only screen and (min-width: 70em) {

    .vision-mission {
        padding-top: 7rem;
        padding-bottom: 8rem;

    }

    .vision-mission > p {
        max-width: 60ch;
        

    }

}

/* --------------------------VISION MISSION SECTION END ------------------------------*/

/* --------------------------PARTNERS SECTION START ------------------------------*/

#partners-container {
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.partners-header > h1 {
    font-family: var(--heading-font);
    color: var(--primary-clr);
    font-size: clamp(2.5rem, 5vw, 4rem);
    text-transform: uppercase;
    text-align: center;

}

.partners > figure {
    width: 180px;
    height: 250px;
    margin: 0 auto;
    background-color: lightgray;
    margin-bottom: 1.5em;
    
}

.partners-h2, .partners-p {
    font-family: var(--body-font);
    font-size: clamp(1.15rem, 2.5vw, 1.25rem);
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-clr);
    margin: 0;
    
}

.partners-p {
    width: 200px;
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: 1.5em;
    margin: auto;
    margin-bottom: 4em;
    border-bottom: 1px solid var(--primary-clr);


}



/* --------------------------PARTNERS SECTION END ------------------------------*/

/* --------------------------CONTACT SECTION START ------------------------------*/

.contact-container {
    background-image: url(../images/Landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


@media only screen and (min-width: 70em) {
    .contact-container {
        height: 115vh;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

}

.contact-header-container {  
    padding: 2em 0;
    background-color: rgba(106, 108, 75, 0.85);
    
    
}

.contact-header > h1 {
    width: 80%;
    font-family: var(--heading-font);
    font-size: clamp(2.5rem, 5vw, 4rem);
    text-transform: uppercase;
    color: var(--white-clr);
    margin: 0 auto;
}

@media only screen and (min-width: 70em) {
    .contact-header > h1 {
        width: 40%;
        padding-top: 2em;
        

    }

}

.address-container {
    background-color: rgb(255, 255, 234, 0.9); 
    font-family: var(--body-font);
    color: var(--primary-clr);
    
    
}

.address-container2 {
    width: 340px;
    margin: 0 auto;
    line-height: 1.5rem;
    padding-top: 3em;
    padding-bottom: 3em;

}

@media only screen and (min-width: 70em) {
    .address-container2 {
        width: 550px;
        margin-left: auto;
        padding-top: 8rem;
        padding-bottom: 20rem;

    }

}

.address-heading {
    margin: 0;
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    text-transform: uppercase;
    padding-top: 1.5em;

}

.address-container2 > p {
    font-weight: lighter;
    font-size: clamp(1rem, 1.5vw, 1.15rem);
}

.address-container2 > email, telephone {
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    letter-spacing: 0.1rem;

}

@media only screen and (min-width: 70em) {
    .address-heading {
        padding-bottom: 0.5em;

    }

    .address-container2 > p {
        padding-bottom: 0.5em;

    }

    .address-container2 > email, telephone {
        padding-bottom: 0.5em;

    }

}

label {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    font-weight: lighter;

}

input, textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 1.5em;
    border: none;
    resize: vertical;
    font-size: 1.1rem;
    font-family: var(--body-font);
    color: var(--primary-clr);

}

input:focus, textarea:focus {
    outline: none;

}

textarea {
    min-height: 100px;
    max-height: 150px;
    
}

@media only screen and (min-width: 70em) {
    textarea {
        min-height: 200px;
        max-height: 250px;

    }

}

.button-2 {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-clr);
    background-color: var(--primary-clr);
    border: none;
    padding: 10px 20px;
    margin: 0px 0px 30px 0px;
    transition: ease-in-out 0.2s;
    width: 100%;

}

.button-2:hover {
    color: var(--white-clr);
    background-color: lightslategrey;

}



/* --------------------------CONTACT SECTION END ------------------------------*/

/* --------------------------FOOTER SECTION START ------------------------------*/

#footer {
    height: 7vh;
    font-family: var(--body-font);
    font-size: 0.9rem;
    font-weight: lighter;
    color: var(--primary-clr);
    text-align: center;
    padding-top: 12px;

}


/* --------------------------FOOTER SECTION END ------------------------------*/